[submodule "diabetes-predictor-py-ml"]
	path = diabetes-predictor-py-ml
	url = https://github.com/SammyRJ/diabetes-predictor-py-ml
[submodule "Water-Quality-Prediction-for-Potability"]
	path = Water-Quality-Prediction-for-Potability
	url = https://github.com/trish-03/Water-Quality-Prediction-for-Potability
[submodule "Lung-Cancer-Prediction-AI"]
	path = Lung-Cancer-Prediction-AI
	url = https://github.com/Pramit316/Lung-Cancer-Prediction-AI.git
[submodule "Breast_Cancer_Detection"]
	path = Breast_Cancer_Detection
	url = https://github.com/aashika262/Breast_Cancer_Detection
[submodule "Red-Wine-Alcohol-Prediction-using-ML"]
	path = Red-Wine-Alcohol-Prediction-using-ML
	url = https://github.com/lordoftheearrings/Red-Wine-Alcohol-Prediction-using-ML.git
[submodule "Alzheimers-prediction-using-machine-learning"]
	path = Alzheimers-prediction-using-machine-learning
	url = https://github.com/Szhoosh/Alzheimers-prediction-using-machine-learning
[submodule "EmployeeAttritionPrediction"]
	path = EmployeeAttritionPrediction
	url = https://github.com/neharikastha/EmployeeAttritionPrediction
[submodule "Flight-Price-Prediction"]
	path = Flight-Price-Prediction
	url = https://github.com/shr-gitt/Flight-Price-Prediction.git
[submodule "medical_cost_prediction_py-ml"]
	path = medical_cost_prediction_py-ml
	url = https://github.com/su-ip/medical_cost_prediction_py-ml
